html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
}

input,
button {
    outline: none;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    margin: 0;
}

button {
    user-select: none;
}

body {
    font-size: .24rem;
}

div,
p,
span,
a {
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
}