.rule-modal {
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75)
}

.rule-modal .rule-modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 2.8rem;
    height: 3.3rem;
    padding: .14rem .1rem .25rem;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: .1rem;
    background-color: #f0a665
}

.rule-modal .rule-modal-dialog .close {
    position: absolute;
    top: .12rem;
    right: .12rem;
    width: .15rem;
    height: .15rem;
    cursor: pointer;
    text-align: center;
    font-size: .15rem
}

.rule-modal .rule-modal-dialog .close:before {
    content: "\2716"
}

.rule-modal .rule-modal-dialog header {
    margin-bottom: .125rem;
    text-align: center
}

.rule-modal .rule-modal-dialog header i {
    display: inline-block;
    width: .075rem;
    height: .075rem;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #8c160d
}

.rule-modal .rule-modal-dialog header span {
    font-size: .15rem;
    display: inline-block;
    margin: 0 .1rem;
    vertical-align: middle;
    color: #8c160d
}

.rule-modal .rule-modal-dialog section {
    position: relative;
    overflow: hidden;
    height: 2.635rem
}

.rule-modal .rule-modal-dialog section .description-scroller p {
    font-size: .1rem
}

.rule-modal .rule-modal-dialog section .description {
    line-height: 1.4285;
    position: relative;
    overflow: hidden;
    height: 2.3rem;
    padding-right: .05rem;
    padding-left: .05rem;
    text-align: justify;
    color: #8c160d;
    -ms-touch-action: none;
    touch-action: none
}

.rule-modal .rule-modal-dialog section .description.rule-3 {
    height: auto
}

.rule-modal .rule-modal-dialog section .description p {
    margin-bottom: .05rem
}

.rule-modal .rule-modal-dialog section .description h3,.rule-modal .rule-modal-dialog section .description h4 {
    font-weight: 400;
    margin-bottom: .05rem
}

.rule-modal .rule-modal-dialog section .description ul {
    padding-left: .15rem
}

.rule-modal .rule-modal-dialog section .description ul li {
    margin-bottom: .05rem;
    list-style-position: outside;
    list-style-type: initial
}

.rule-modal .rule-modal-dialog section .description ol {
    padding-left: .175rem
}

.rule-modal .rule-modal-dialog section .probability .text ol,.rule-modal .rule-modal-dialog section .probability .text ul {
    padding-left: .15rem
}

.rule-modal .rule-modal-dialog section .description ol li {
    margin-bottom: .05rem;
    list-style-position: outside;
    list-style-type: decimal
}

.rule-modal .rule-modal-dialog section .description a {
    text-decoration: underline
}

.rule-modal .rule-modal-dialog section .probability {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-top: .1rem;
    border-radius: .02rem;
    background-color: #f0a665
}

.rule-modal .rule-modal-dialog section .probability.rule-3 {
    position: relative
}

.rule-modal .rule-modal-dialog section .probability.active .nav i {
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg)
}

.rule-modal .rule-modal-dialog section .probability.active .text {
    display: block
}

.rule-modal .rule-modal-dialog section .probability .nav {
    overflow: hidden;
    height: .21rem;
    cursor: pointer;
    text-align: center;
    border-radius: .02rem .02rem 0 0;
    background-color: #9d5627
}

.rule-modal .rule-modal-dialog section .probability .nav span {
    font-size: .1rem;
    line-height: .21rem;
    margin-right: .05rem;
    color: #f7d1a5
}

.rule-modal .rule-modal-dialog section .probability .nav i {
    display: inline-block;
    width: .06rem;
    height: .06rem;
    transition: all .3s ease-in-out;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform-origin: .015rem .015rem;
    transform-origin: .015rem .015rem;
    vertical-align: -.01rem;
    border: .01rem solid transparent;
    border-top-color: #f7d1a5;
    border-left-color: #f7d1a5
}

.rule-modal .rule-modal-dialog section .probability .text {
    font-size: .1rem;
    line-height: 1.4285;
    display: none;
    padding-top: .1rem;
    text-align: justify;
    color: #8c160d
}

.rule-modal .rule-modal-dialog section .probability .text .probability-wrapper {
    position: relative;
    overflow: hidden;
    height: .8rem;
    padding-right: .15rem
}

.rule-modal .rule-modal-dialog section .probability .text .probability-wrapper.rule-3 {
    height: auto
}

.rule-modal .rule-modal-dialog section .probability .text p {
    margin-bottom: .05rem
}

.rule-modal .rule-modal-dialog section .probability .text ul li {
    margin-bottom: .07rem;
    list-style-position: outside;
    list-style-type: initial
}

.rule-modal .rule-modal-dialog section .probability .text ol li {
    margin-bottom: .07rem;
    list-style-position: outside;
    list-style-type: decimal
}

.rule-modal-ggk .bg-rule header,.rule-modal-zcd .bg-rule header {
    margin-bottom: .06rem
}

.rule-modal .rule-modal-dialog section .probability .text a {
    text-decoration: underline;
    color: #980002
}

.rule-modal-zcd .bg-rule .scroll-box .description-scroller,.rule-modal-zcd .bg-rule header span {
    color: #fff
}

.rule-modal .iScrollVerticalScrollbar {
    right: 0!important;
    width: .05rem!important
}

.rule-modal .iScrollVerticalScrollbar.fade {
    display: none!important
}

.rule-modal .iScrollIndicator {
    border: none!important;
    border-radius: .025rem!important;
    background: rgba(0,0,0,.2)!important
}

.rule-modal-ggk .bg-rule .scroll-box .probability .nav i,.rule-modal-zcd .bg-rule .scroll-box .probability .nav i {
    border-left-color: #893d0f;
    border-top-color: #893d0f
}

.rule-modal-zcd .bg-rule {
    width: 2.89rem;
    height: 3.795rem;
    position: absolute;
    left: 50%;
    top: .6rem;
    background: url(//yun.tuisnake.com/h5-mami/activity/common/bg_rule.png);
    background-size: cover;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.rule-modal-zcd .bg-rule .rule-modal-dialog {
    width: 2.11rem;
    height: 2.39rem;
    top: .8rem;
    padding: 0 0 0 .1rem;
    background: 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.rule-modal-zcd .bg-rule header i {
    background: #fff
}

.rule-modal-zcd .bg-rule .scroll-box {
    height: 2.19rem
}

.rule-modal-zcd .bg-rule .scroll-box .description {
    padding-right: .05rem
}

.rule-modal-zcd .bg-rule .scroll-box .description-scroller p {
    font-size: .1rem
}

.rule-modal-zcd .bg-rule .scroll-box .probability {
    background: 0 0;
    padding-top: 0;
    padding-right: .05rem
}

.rule-modal-zcd .bg-rule .scroll-box .probability .nav {
    background: 0 0;
    display: inline-block
}

.rule-modal-zcd .bg-rule .scroll-box .probability .nav span {
    color: #893d0f
}

.rule-modal-zcd .bg-rule .scroll-box .probability .text {
    background: #f6713d;
    padding: .1rem;
    border-radius: .04rem;
    color: #893d0f
}

.rule-modal-ggk .bg-rule .scroll-box .description-scroller,.rule-modal-ggk .bg-rule header span {
    color: #fff
}

.rule-modal-zcd .bg-rule .scroll-box .probability .text .probability-wrapper {
    padding-right: 0
}

.rule-modal-zcd .bg-rule .close {
    width: .5rem;
    height: .5rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.rule-modal-ggk .bg-rule {
    width: 2.89rem;
    height: 3.795rem;
    position: absolute;
    left: 50%;
    top: .6rem;
    background: url(//yun.tuisnake.com/h5-mami/activity/common/bg_rule2.png);
    background-size: cover;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.rule-modal-ggk .bg-rule .rule-modal-dialog {
    width: 2.11rem;
    height: 2.45rem;
    top: 1.15rem;
    padding: 0 0 0 .1rem;
    background: 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.rule-modal-ggk .bg-rule header i {
    background: #fff
}

.rule-modal-ggk .bg-rule .scroll-box {
    height: 2.3rem
}

.rule-modal-ggk .bg-rule .scroll-box .description {
    padding-right: .1rem
}

.rule-modal-ggk .bg-rule .scroll-box .probability .nav span,.rule-modal-ggk .bg-rule .scroll-box .probability .text {
    color: #893d0f
}

.rule-modal-ggk .bg-rule .scroll-box .description-scroller p {
    font-size: .1rem
}

.rule-modal-ggk .bg-rule .scroll-box .probability {
    background: 0 0;
    padding-top: 0
}

.rule-modal-ggk .bg-rule .scroll-box .probability .nav {
    height: .25rem;
    text-align: left;
    background: 0 0;
    display: block;
    padding-right: .1rem;
    position: relative
}

.rule-modal-ggk .bg-rule .close {
    width: .3rem;
    height: .3rem;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#db-content {
    z-index: 10
}

.apple {
    font-size: .1rem;
    padding: .05rem 0;
    text-align: center;
    position: relative
}

.apple.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

body {
    position: relative
}
